<template>
  <div
    class="container d-flex justify-content-center align-items-center flex-column"
  >
    <div class="loading" v-if="loading">
      Loading.....
    </div>

    <button @click="showAlert" class="btn-primary">SweetAlert</button>
    <hr />
    <h2 class="mb-3">Bootstrap Table</h2>
    <div>
      <b-table
        striped
        hover
        :items="posts"
        :per-page="perPage"
        :current-page="currentPage"
      ></b-table>
    </div>
    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import { getPosts } from "../services/axios";

export default {
  data() {
    return {
      posts: [],
      loading: false,
      perPage: 10,
      currentPage: 1,
    };
  },
  methods: {
    showAlert() {
      this.$swal("SweetAlert");
    },
  },
  computed: {
    rows() {
      return this.posts.length;
    },
  },
  mounted() {
    this.loading = true;
    getPosts
      .get(`posts`)
      .then((res) => {
        this.loading = false;
        this.posts = res.data;
        console.log(res.data);
      })
      .catch((error) => {
        console.log(error);
        this.loading = false;
      });
  },
};
</script>

<style></style>
