<template>
  <div
    v-if="this.getIsLogin"
    class="d-flex justify-content-center align-items-center flex-column"
  >
    <h1>Home Page</h1>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters({ getIsLogin: "getIsLogin" }),
  },
  methods: {
    ...mapActions(["logoutStore"]),
    logout() {
      this.logoutStore();
    },
  },
};
</script>
