<template>
  <div
    class="d-flex justify-content-center align-items-center flex-column mt-5"
  >
    <h3 class="text-2xl text-center mb-3">Sign in</h3>
    <form
      @submit="signIn"
      class="d-flex justify-content-center align-items-center flex-column mt-3"
    >
      <input
        v-model="username"
        type="text"
        placeholder="User name"
        class="input mb-3"
      />
      <input
        v-model="password"
        type="password"
        placeholder="password"
        class="input mb-3"
      />
      <button class="default-button">Sign in</button>
    </form>
    <span class="text-center mt-3 text-sm">
      <router-link
        :to="{ name: 'Register' }"
        class="text-red-900 hover:text-black"
      >
        Sign up
      </router-link>
    </span>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  computed: {
    ...mapGetters({ getIsLogin: "getIsLogin" }),
  },
  methods: {
    ...mapActions(["updateIsLogin"]),
    signIn() {
      this.updateIsLogin([this.username, this.password]);
      this.$router.push({ name: "Home" });
    },
  },
};
</script>
