<template>
  <div
    class="d-flex justify-content-center align-items-center flex-column mt-5"
  >
    <h3 class="text-2xl text-center mb-3">Sign up</h3>
    <input
      v-model="userData.fullname"
      type="text"
      placeholder="Full name"
      class="input mb-3"
    />
    <input
      v-model="userData.username"
      type="text"
      placeholder="User name"
      class="input mb-3"
    />
    <input
      v-model="userData.password"
      type="password"
      placeholder="Password"
      class="input mb-3"
    />
    <button class="default-button" @click="onSave">Sign up</button>
    <span class="text-center mt-3 text-sm">
      <router-link
        :to="{ name: 'Login' }"
        class="text-red-900 hover:text-black"
      >
        Sign in!
      </router-link>
    </span>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userData: {
        username: null,
        fullname: null,
        password: null,
      },
    };
  },
};
</script>

<style></style>
