<template>
  <div class="d-flex justify-content-between px-5 py-4 w-100">
    <div>
      <h2>Vuex Project</h2>
    </div>
    <div>
      <router-link class="link" tag="a" to="/">Home</router-link>
      <router-link class="link" tag="a" to="/Dashboard">Dashboard</router-link>
      <router-link v-if="this.getIsLogin" class="link" tag="a" to="/Login"
        >Login</router-link
      >
      <router-link
        class="link"
        :to="{ name: 'Login' }"
        @click="logout"
        v-if="this.getIsLogin"
      >
        Logout
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters({ getIsLogin: "getIsLogin" }),
  },
  methods: {
    ...mapActions(["logoutStore"]),
    logout() {
      this.logoutStore();
    },
  },
};
</script>

<style>
.link {
  text-decoration: none;
  color: #023047;
  margin-left: 30px;
  font-size: 26px;
}
</style>
