<template>
  <div>
    <Nav></Nav>
    <router-view></router-view>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

import Nav from "./components/Nav.vue";

export default {
  components: {
    Nav,
  },
  computed: {
    ...mapGetters(["getIsLogin"]),
  },
};
</script>
